---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<Hero />
	<main></main>
</Layout>
